@font-face{ 
	font-family: 'know_your_product';
	src: url('know_your_product.eot');
	src: url('know_your_product.eot?iefix') format('eot'),
	     url('know_your_product.woff') format('woff'),
	     url('know_your_product.ttf') format('truetype'),
	     url('know_your_product.svg#webfont') format('svg');
}
#data_page h1{
	font-size:1.4em !important;
}
#data_page .ui-btn-text{
	display:inline-block;
	padding:6px;
	width:50px;
}
.flyer{
	width:100%;
	padding:0;
}
.flyer img{
	width:100%;
	margin-15px;
}
h1{
	font-family: 'know_your_product',arial, sans-serif;
	font-size:2em !important;
	margin: 0.3em 0 !important;
	width :100%;

}
ul{
	border-radius: 0 !important;
	margin:0 !important;
	padding:0;
}
.ui-collapsible-content{
	padding:0 !important;
}
.ui-btn-inner{
	display:inline-block;
	padding:0 !important;
}
.main-h2 .ui-btn-text{
	top:50% !important;
}
.main-h2{
	height:64px;
}
.main-h2 figure{
	display:inline-block;
	margin:0;
}
.main-h2 p{
	bottom:25px;
	display:inline-block;
	margin:0;
	padding-left:15px;
	position:relative;
	font-size:1.4em;
}
#main_page .ui-icon-plus,#main_page .ui-icon-minus{
	display:none;
}